<div class="navigation-wrapper">
    <div class="sidenav scrollable">
        <div class="sidenav-info">
            <div class="header-logo">
                <i class="icon_homedepot"></i>
            </div>
      
        </div>
        <ul class="nav">
            <li><a href="#" class="active"><i class="icon_nav_dashboard"></i>Dashboard</a></li>
            <li><a href="#"><i class="icon_nav_esvs"></i>Portfolio1</a></li>
            <li><a href="#"><i class="icon_nav_quote_center"></i>Portfolio2</a></li>
            <li><a href="#"><i class="icon_nav_proxtra"></i>Portfolio3</a>
            <li><a href="#"><i class="icon_nav_hd_online"></i>Portfolio4</a>
        </ul>
    </div>
    <section class="content-area with-header">
        <div class="header">
            <div class="header-logo">
                <i class="icon_homedepot"></i>
            </div>
            <div class="header-info">
            </div>
            <div class="header-search">
                <input type="search" placeholder="Search Here" />
                <i class="icon_search"></i>
            </div>
            <div class="header-actions">
                <div><i class="icon_bell"></i></div>
                <div><i class="icon_cart"></i></div>
                <div><i class="icon_settings"></i></div>
            </div>
        </div>
        <div class="content">
        </div>
    </section>
</div>